
@*@if (Session["menu"] != null)
{*@

@*    Menu menu = new Menu();
    List<Menu> listmenu = (List<Menu>)Session["menu"];*@
    @*<section id="menu" data-accordion-group>*@
    @*<li class="header" align="center" style="font-size:15px; font-weight:600;">Menú Principal</li>*@
    @*<p class="header" align="center" style="font-size:18px; font-weight:bold;">Menú Principal</p>*@
   @* @Html.Raw(menu.ToHtml(listmenu))*@

    @*</section>*@
@*}
else
{
   
}*@


@*@Html.ActionLink("Got to Alpha Area", "Index", "Conceptos", new { area = "Nomina" }, null)*@

