 
<div id="modalAdicional" class="modal fade in" role="dialog" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content" id="divModalContent">
            <div class="modal-header">
                <button type="button" class="close" aria-hidden="true" data-dismiss="modal">
                    &times;
                </button>
                <h5 class="modal-title" id="tituloMant">
                    <i class="glyphicon glyphicon-plus"></i> Agregar Dato Adicional
                </h5>
            </div>
            <div class="modal-body"> 
                <div class="row">
                    <div class="col-md-12 col-sm-5">
                        <label class="control-label">Titulo:</label>
                        <input id="txtTitulo" class="form-control" />
                    </div>
                </div>
                <div class="row margin-laptop">
                    <div class="col-md-12 col-sm-5">
                        <label class="control-label">Dato Adicional:</label>
                        <input id="txtDato" class="form-control" /> 
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="btnAgregarAdicional">Agregar</button>
            </div>
        </div>
    </div>
</div>