
<div class="row" style="margin-top: 10px">
    <div class="col-md-12">
        <div class="form-group" style="margin-bottom: 0px !important">
            <div class="panel-body" style="padding: 0px 15px;">
                <div class="panel panel-default" style="border: none">
                    <button id="btnNuevoDsctoRecargoGlobal" type="button" data-toggle="modal" href="#modalDsctoRecargoGlobal" class="btn btn-primary CssOpenModal btn-emisor">
                        <i class="glyphicon glyphicon-plus"></i> Dscto / Recargo
                    </button>
                    <div class="pull-right">
                        <label style="padding-right: 5px; vertical-align: middle;" class="form-check-label">Todos</label>
                        <a id="btnEliminarTodoDsctoRecargo" class="tooltip--triangle" title="Eliminar" style="cursor: pointer; padding-right: 12px;"><span class="glyphicon glyphicon-trash" style="font-size:17px;"></span></a>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table id="tblDsctoRecargo" class="table table-striped table-bordered table-sm table-responsive" cellspacing="0" cellpadding="0" width="100%">
                                <thead class="label-primary">
                                    <tr>
                                        <th></th>
                                        <th class="col-md-2 text-center">Tipo</th>
                                        <th class="col-md-3 text-center">Descripción</th>
                                        <th class="col-md-2 text-center">Valor</th>
                                        <th class="col-md-2 text-center">Monto</th>
                                        <th class="col-md-1 text-center"></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 