
@{
    ViewData["Title"] = "Detalle Factura Aplica";
}

<div class="row">
    <div class="col-md-12">
        <div class="card card-secondary" style="margin-bottom: 10px !important;">
            <div class="card-header">
                <div>
                    <h6 class="card-title">
                        <i class="glyphicon glyphicon-edit"></i> @ViewData["Title"]
                    </h6>
                </div>
            </div>
            <div class="card-body" style="padding: 0px 10px;">
                <div class="row margin-laptop">
                    <div class="col-md-12">
                        <table id="tblProductoFactura" class="table table-striped table-responsive" cellspacing="0" cellpadding="0" width="100%">
                            <thead class="label-primary">
                                <tr>
                                    <th></th>
                                    <th>Nombre</th>
                                    <th>Precio</th>
                                    <th>Cant.</th>
                                    <th>Subtotal</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td class="text-right"><strong>Total:</strong></td>
                                    <td class="text-right"><strong id="lblTotalDetalleFactura" class="lblTotalDetalleFactura">0.00 </strong></td>
                                    <td></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
